[user]
	email = nick@die-fodes.de
    name = Nick Fode
	signingkey = 814B2DD077ED4155
[commit]
    gpgsign = true
[cola]
    spellcheck = false
[core]
    pager = diff-so-fancy | less
	editor = nvim

    # convert CRLF line endings to LF on commit
    autocrlf = input
    safecrlf = warn
[diff]
    renameLimit=8000



# git diff: highlighting of lines where only a part has changed
# see https://github.com/git/git/tree/master/contrib/diff-highlight
[color "diff-highlight"]
    # the part that has not changed
    oldNormal = red dim
    newNormal = green dim

    # the part that has changed
    oldHighlight = red
    newHighlight = green




[color "diff"]
    # whitespaces at the end of the line
    whitespace = red ul

    # colour of the file header
    #meta = 227

    # colour of the position in the file (beteen two @)
    #frag = magenta bold

    # colour of the commit header in git log
    #commit = 227 bold

[alias]
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[merge]
	tool = meld
[gpg]
	program = /usr/bin/gpg2
