# sourced by lightdm on the start

export LANG="en_US.UTF-8"

# overwrite ssh-askpass
export SSH_ASKPASS=/usr/lib/seahorse/seahorse-ssh-askpass

if [ -n "$DESKTOP_SESSION" ];then
    eval $(gnome-keyring-daemon --start)
    export SSH_AUTH_SOCK
fi


setxkbmap -layout us -option caps:escape -option compose:ralt
localectl set-keymap custom
bin=$HOME/.local/bin
host=$(hostname)
if [ "$host" = "cranky-panini" ]; then
    xautolock -time 5 -locker $HOME/.local/bin/lock &
    nextcloud &
    redshift-gtk &
fi
light-locker &
#compton -c &
$bin/launchbar &
$bin/setwallpaper &
nm-applet &
jetbrains-toolbox --minimize &
udiskie -2 &
xset -b
