export LANG="en_US.UTF-8"

setxkbmap de
xautolock -time 5 -locker $HOME/.local/bin/lock &
sh $HOME/.config/polybar/launch.sh
nm-applet &
octopi-notifier &
jetbrains-toolbox --minimize &
redshift-gtk &
nextcloud &
compton -c &
feh --bg-scale ~/.wallpaper.png &
xset -b
