configuration {
	lines: 10;
	columns: 1;
	font: "Hack Nerd Font 22";
	bw: 0;
	fixed-num-lines: true;
	show-icons: true;
	terminal: "rofi-sensible-terminal";
	drun-match-fields: "name,generic,exec,categories";
	sidebar-mode: false;
	display-window: "缾";
	display-run: "";
	display-drun: "";
	kb-remove-char-back: "BackSpace";
}
